html { font-size: 14px !important; scroll-behavior: smooth; }

@media (min-width: 31.25rem) { html { font-size: 16px !important; } }

body { font-size: inherit; line-height: 1.4; color: #5c5962; background-color: #fff; overflow-wrap: break-word; padding: 1em; }

@media (min-width: 31.25rem) { body { padding: 1em 2em; } }

h1 { font-size: 32px !important; line-height: 1.25; font-weight: 300; }

@media (min-width: 31.25rem) { h1 { font-size: 36px !important; } }

h2 { font-size: 18px !important; }

@media (min-width: 31.25rem) { h2 { font-size: 24px !important; line-height: 1.25; } }

h3 { font-size: 16px !important; }

@media (min-width: 31.25rem) { h3 { font-size: 18px !important; } }

h4 { font-size: 11px !important; font-weight: 400; letter-spacing: 0.1em; }

@media (min-width: 31.25rem) { h4 { font-size: 12px !important; } }

h5 { font-size: 12px !important; }

@media (min-width: 31.25rem) { h5 { font-size: 14px !important; } }

h6 { font-size: 11px !important; }

@media (min-width: 31.25rem) { h6 { font-size: 12px !important; } }

::selection { color: #fff; background: #005c83; }

button.link { background: inherit; border: inherit; padding: 0; }

a, button.link { color: #005c83; text-decoration: none; }

a:not([class]), button.link { text-decoration: underline; text-decoration-color: #eeebee; text-underline-offset: 2px; }

a:not([class]):hover, button:hover.link { text-decoration-color: rgba(0, 92, 131, 0.45); }

tt, code { font-size: 0.75em; line-height: 1.4; }

a:hover, a:focus, button:hover.link, button:focus.link { color: #ed8b00; }

a:not([class]):hover, a:not([class]):focus, button:hover.link, button:focus.link { text-decoration-color: rgba(237, 139, 0, 0.45); }

h1, h2, h3, h4, h5, h6, .section-heading { font-weight: bolder; }

b { font-weight: bolder; }

tt, code { font-size: 13.6px; }

:not(pre, figure) > code { padding: 0 0.15em 0.1em; }

.table > tbody > tr.rdf-inverse > td {
    border-top: 1px solid #d7d7d7;
}
.table > tbody {
    border-bottom: 1px solid #dddddd;
}
tr:not(.rdf-inverse) + tr.rdf-inverse, tr.rdf-inverse + tr:not(.rdf-inverse) {
    border-top: 4px solid #c0c0c0;
}
.table-striped > tbody > tr.rdf-inverse {
    background-color: #f0f0f0;
}
.table-striped > tbody > tr:nth-of-type(odd).rdf-inverse {
    background-color: #eaeaea;
}

.popup .table {
    margin-bottom: 0;
}

header li > span + span::before {
    content: "\00a0|\00a0";
    display: inline-block;
}

header li > span + span:empty::before {
  content: "";
}

header.float {
    position: absolute;
    top: calc(64px + 2em);
    right: calc(1em + 15px);
}

#title,
#title:empty + #subtitle {
    padding-right: 13em;
}

@media (min-width: 31.25rem) {
header.float {
    right: calc(2em + 15px);
}
}

@media (min-width: 768px) {
header.float {
    right: calc(50vw - 360px);
}
}

@media (min-width: 992px) {
header.float {
    right: calc(50vw - 470px);
}
}

@media (min-width: 1200px) {
header.float {
    right: calc(50vw - 570px);
}
}

.ldv-sub-node {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid silver;
    max-width: calc(100% - 6ex);
    overflow: auto;
    vertical-align: top;
}

.ldv-objects-box {
    max-height: 23ex;
    overflow: auto;
    text-overflow: ellipsis;
}

.ldv-objects-box-expand {
    max-height: 55ex;
}

.ldv-graph-lookup-button {
    float: right;
    font-size: smaller;
    opacity: 0.1;
    cursor: pointer;
    user-select: none;
}

.ldv-graph-lookup-button:hover {
    opacity: 0.8;
}

.ldv-sub-node-overflow {
    overflow: auto;
    max-height: 51ex;
}

.ldv-sub-node-sub {
    font-size: 90%;
    font-weight: lighter;
}

.ldv-lang-select {
    padding: 0 1em 0 4pt;
}

.ldv-lang-tag {
    font-weight: lighter;
    font-size: smaller;
}

.ldv-lang-tag-lang {
    font-size: smaller;
}

#graphLookupPopup {
    font-size: 80%;
    border: 1px solid;
    padding: 5px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    overflow: auto;
    visibility: hidden;
    z-index: 1000; /* for leaflet */
}

#graphLookupPopup.ldv-popup-visible {
    visibility: visible;
}

.ldv-mini-map {
    height: 150px;
    width: 400px;
    resize: both;
    overflow: auto;
}

.ldv-ns-color {
    font-size: smaller;
    vertical-align: text-bottom;
    user-select: none;
}

.ldv-ns-label {
    font-size: smaller;
    font-weight: lighter;
    padding-right: 2pt;
}

.ldv-ns-label-prefix {
    font-size: smaller;
}

.ldv-literal-datatype-p {
    font-size: smaller;
}

.ldv-expand-button {
    text-align: right;
    padding-left: 1ex;
    font-size: smaller;
    cursor: pointer;
    opacity: 0.2;
    user-select: none;
}

.ldv-expand-button:hover {
    opacity: 0.8;
}

tr.rdf-inverse > td.table-predicate,
.table > tbody > tr.rdf-inverse > td.table-predicate {
    padding-left: 1.5em;
}

.ldv-source-graph-prop {
    font-variant: small-caps;
    font-weight: bold;
}

img.ldv-logo-top {
    display: inline-block;
    height: 17px;
    vertical-align: baseline;
}

.ldv-logo-bottom {
    height: 60px;
}

.ldv-footer-margin {
    margin-top: 100px;
    text-align: center;
}

.ldv-config-links {
    font-size: smaller;
}

a[href="urn:x-ldv:more-results"] {
    text-decoration: none;
    color: #464b4d;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #edecea;
    border: solid 1px #cdc7c2;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 2px;
}

@media print {
    .ldv-expand-button { display: none; }
    .ldv-graph-lookup-button { display: none; }
}
